{% extends "base.html" %}

{% block content %}
<h1>{{ category_name }} Kategorisindeki Ürünler</h1>
<div id="productGrid" class="product-grid">
    {% for product in products %}
    <div class="product-item">
        <a href="/product/{{ product.id }}">
            <img src="{{ product.image_url or 'https://via.placeholder.com/250' }}" alt="{{ product.name }}">
            <h3>{{ product.name }}</h3>
            <p><strong>İlan No:</strong> {{ product.id }}</p>
            <p><strong>Fiyat:</strong> {{ product.price }} TL</p>
            <p><strong>Şehir:</strong> {{ product.city }}</p>
            <p><strong>Kategori:</strong> {{ product.category }}</p>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
